@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 80px;
}

.sidebar {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

img .style-img {
    width: 100%;
}

.login-header img {
    width: 15%;
    height: 15%;
    margin-top: 60px;
    margin-left: 470px;
}

.login-body {
    padding: 11px 15px;
    gap: 10px;
    background: #FFFFFF;
    margin-top: 50px;
    margin-left: 350px;
    width: 50%;
    height: auto;
    position: relative;
}

.login-body h2 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}

.form-group .form-control {
    border: 2px solid #10367A;
    border-radius: 15px;
    width: 380px;
    height: 40px;
    left: 693px;
    top: 274px;
    padding: 0 20px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #10367A;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.button-login {
    font-family: 'Quicksand', sans-serif;
    flex-direction: row;
    justify-content: center;
    padding: 6px 10px;
    gap: 10px;

    width: 216px;
    height: 36px;
    left: 776px;
    top: 600px;
    background: #99E2FF;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #342abb;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 80px;
}

.button-login:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2fcbd6;
}

.login-footer {
    margin-top: 170px;
    margin-left: 270px;
    width: 100%;
    height: auto;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .login-header img {
        width: 15%;
        height: 15%;
        margin-top: 60px;
        margin-left: 60px;
    }

    .login-body {
        padding: 11px 15px;
        gap: 10px;
        background: #FFFFFF;
        margin-top: 70px;
        margin-left: 30px;
        width: 80%;
        height: auto;
        position: relative;
    }

    .login-body h2 {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 42px;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px;
    }
}