body {
    position: relative;
    width: 1440px;
    height: 960px;
    background: #FFFFFF;
}

/* .register-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 960px;
    background: #FFFFFF;
} */

.form-register {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 960px;
    background: #FFFFFF;

}

.form-group .form-control {
    border: 2px solid #10367A;
    border-radius: 15px;
    width: 380px;
    height: 40px;
    left: 693px;
    top: 274px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 300;
    color: #10367A;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.submit {
    background: #99E2FF;
    border-radius: 20px;
    border: none;
    width: 216px;
    height: 36px;
    left: 776px;
    top: 600px;
    font-size: 14px;
}