@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
.footer {
  background-color: #052868;
  padding: 10px;
}

.footer-wrapper {
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.table-content {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
}

.table-content td {
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .table-content {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .table-content {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
  }
}
