@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 79px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
}

.nav-brand {
    margin-bottom: 20px;
}

#basic-navbar-nav {
    padding-bottom: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 0;
    padding: 0;
    margin-right: 30px;

    .nav-right {
        color: #000;
        text-decoration: none;
    }

    p {
        margin-top: 20px;
        margin-left: 20px;
    }
}

.left-nav {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

    ul {
        display: flex;
        // gap: 10px;
        list-style: none;

        .nav-brand {
            margin-top: 20px;
        }

        li {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                text-decoration: none;
            }
        }

        li.menu {
            margin-top: 30px;
            margin-left: 40%;
            cursor: pointer;
        }

    }
}