@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    float: left;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
}

.content-wrapper {
    padding: 10px;
    text-align: justify;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #10367A;
    padding-top: 30px;
}

.content-title {
    font-family: 'Quicksand', sans-serif;
    margin-left: 250px;
    font-size: 15px;
    text-align: justify;
    color: #10367A;
    font-weight: 600;
    padding-top: 20px;

    .button-selengkapnya {
        font-family: 'Quicksand', sans-serif;
        flex-direction: row;
        justify-content: center;
        padding: 6px 10px;
        gap: 10px;

        width: 216px;
        height: 36px;
        left: 776px;
        top: 600px;
        background: #99E2FF;
        border-radius: 20px;
        border: none;
        font-size: 14px;
        font-weight: 300;
        color: #342abb;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
            text-decoration: none;
            background-color: #56BBFF;
        }
    }
}

@media screen and (max-width: 1000px) {
    .content-title {
        margin-left: 250px;
        font-size: 15px;
        text-align: justify;
        color: #10367A;
        font-weight: 600;
        padding-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        padding: 10px;
        text-align: justify;
    }

    .content-title {
        font-size: 15px;
        text-align: justify;
        color: #10367A;
        font-weight: 600;
        padding-top: 20px;
    }

    .content-title {
        margin-left: 0px;
    }

}