.footer {
    margin-top: 800px;
    background-color: rgb(5, 40, 104);
    height: 500px;
    width: 1440px;

    .footer-wrapper {
        padding: 40px;
        text-align: center;
        color: #ffffff;
    }
}

.table-content {
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    border: 0;
}