@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    width: 1440px;
    height: 380px;
    left: 0px;
    top: 75px;
    background: #99E2FF;

    h2 {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 36px;
        line-height: 50px;
        color: #9B63DC;
        padding-top: 50px;
        padding-left: 10px;

    }

    h6 {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        color: #000000;
        padding-top: 10px;
        padding-left: 10px;
    }

    .btn-started {
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        width: 125px;
        height: 37px;
        left: 1070px;
        top: 22px;

        background: #56BBFF;
        border-radius: 25px;
        border: #56BBFF 1px solid;
        color: #7003ec;

        margin-top: 20px;

        &:hover {
            text-decoration: none;
            background-color: #118ee0;
        }
    }

}

.header-img {
    padding-left: 180px;
    padding-top: 50px;
}