@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 1440px;
    height: 75px;
    left: 0px;
    top: 0px;

    background: #ffffff;
}

.nav-brand {
    padding: 15px;
}

#basic-navbar-nav {
    padding: 15px;
}

.nav-right {
    color: #000;
    text-decoration: none;
}

.nav-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 115px;
    height: 37px;
    left: 1070px;
    top: 22px;

    background: #9B63DC;
    border-radius: 20px;
    border: #9B63DC 1px solid;
    margin-left: 700px;

    &:hover {
        text-decoration: none;
        background-color: #7b6c8f;
    }
}

.nav-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 115px;
    height: 37px;
    left: 1070px;
    top: 22px;

    background: #ffffff;
    border: #9B63DC 1px solid;
    color: black;
    border-radius: 20px;
    margin-left: 10px;

    &:hover {
        text-decoration: none;
        background-color: #ad9dc2;
    }
}