@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 1440px;
    height: 79px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.nav-brand {
    margin-bottom: 20px;
}

#basic-navbar-nav {
    padding-bottom: 20px;
}

.nav-right {
    color: #000;
    text-decoration: none;

}

.left-nav{
    text-decoration: none;
    ul{
        display: flex;
        gap: 10px;
        list-style: none;
        a{
        display: flex;
        justify-content: center;
        align-items: center;
         color: black;   
         text-decoration: none;
         margin-top: 10px;
        }
    }
}

